@model List<FunctionViewModel>

<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header d-flex align-items-center">
            <a class="navbar-brand" href="#">
                @*<img src="~/admin-side/img/brand/blue.png" class="navbar-brand-img" alt="...">*@
                <h6 class="h1 text-blue d-inline-block mb-0 navbar-brand-img">Karmar 2020 </h6>
            </a>
            <div class="ml-auto">
                <!-- Sidenav toggler -->
                <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    @foreach (var item in Model.Where(x => string.IsNullOrEmpty(x.ParentId)))
                    {
                        <li class="nav-item">
                            <a class="nav-link active" href="#@item.Name" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-dashboards">
                                <i class="@item.IconCss"></i>
                                <span class="nav-link-text">@item.Name</span>
                            </a>
                            @if (Model.Any(x => x.ParentId == item.Id))
                            {
                                <div class="collapse" id="@item.Name">
                                    <ul class="nav nav-sm flex-column">
                                        @foreach (var jitem in Model.Where(x => x.ParentId == item.Id))
                                        {
                                            <li class="nav-item">
                                                <a href="@jitem.URL" class="nav-link">@jitem.Name</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        </li>
                    }
                </ul>
                <!-- Divider -->
                <hr class="my-3">
                <!-- Heading -->
                <h6 class="navbar-heading p-0 text-muted">Design by Karmar 2020</h6>
                <!-- Navigation -->
                <ul class="navbar-nav mb-md-3">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="ni ni-mobile-button text-default"></i>
                            <span class="nav-link-text">0938.28.3738</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="mailto: support@karmarsoft.com" target="_blank" class="nav-link">
                            <i class="ni ni-email-83 text-yellow"></i>
                            <span class="nav-link-text">Email Support</span>
                        </a>
                    </li>       
                </ul>
            </div>
        </div>
    </div>
</nav>

